/* Fonts */
    @font-face {
        font-family: 'IRANyekan';
        src: url(fonts/iranYekan.woff2);
    }

    @font-face {
        font-family: 'Grinds';
        src: url(fonts/Grinds.woff);
    }
/* End of Fonts */
/* Common Styles */
*,*::before,*::after{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
    /* to make the rem = 10px */
    scroll-behavior: smooth;
}

/* End of Common Styles */

/* navbar */
.navbar{
    display:flex;
    flex-direction:column;
}
.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0;
    background-color: #8b8889;
}


.search-box span{
    font-family: "IRANyekan";
}
.logo-name{
    font-family: 'Grinds',sans-serif;
    font-size:1.7rem;
    max-width: 12rem;
    margin: 0 1.7rem;
    color: #ee384e;
}
.search-box{
    position: relative;
    margin-left: auto;
}
.search-content{
    margin: 1rem 0;
    width: 61.2rem;
    height: 4.2rem;
    background-color: #e3e3e9dc;
    border: none;
    border-radius: .1rem;
    font-family: "IRANyekan",sans-serif;
    border-radius: .5rem;
    font-size: 1rem;
}

.search-box input{
    padding: .8rem 4rem;
    font-size: 1.7rem;
}

.fa-search{
    color: rgb(78, 74, 74);
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    bottom: 2rem;
    z-index: 100;
}

.fa-user,.fa-sort-down,.fa-shopping-bag{
    font-size: 2rem;
    color:rgb(12, 12, 12);
}

.fa-sort-down{
    position: absolute;
    bottom: 1.3rem;
}

.fa-user{
    margin: 0 2rem;
}
.user-activity{
    margin: 0 2rem;
    position: relative;
    font-size:3rem;
    font-weight: bold;
}
.user-activity span{
    margin: 0 1.5rem;
}
.user-activity a i{
    font-size: 2.5rem;
}

.navbar-full-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
    font-family: "IRANyekan",sans-serif;
    background-color: #d8cdce;
}

.navbar-full-line a{
    color: #5a5c7a;
}
.navbar-full-line span{
    font-size: 1.6rem;
    color:rgb(90, 92, 122);
}
.navbar-full-line i{
    font-size: 1.5rem;
    color:rgb(90, 92, 122);
}
.navbar-full-line p{
    font-size: 1.5rem;
}
.nav-menu  ul{
    display: flex;
    align-items: center;
}
.nav-menu li i{
    margin: 0 1.2rem 0 .8rem  ;
}
.nav-menu a{
    margin: 0 .3rem;
}
.navbar-line{
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.sell-in-digi{
    display: flex;
    margin: 0 1rem;
    gap: 1rem;
}

.sell-in-digi p{
    font-size: 1.6rem;
}



.navbar-catograize{
    display: flex;
    align-items: center;
}

.navbar-catograize p,.navbar-catograize i,.navbar-catograize span{
    font-size: 1.6rem;
}
.navbar-catograize span{
    margin: 0 1.2rem 0 .1rem;
}

.navbar-catograize i{
    margin:0 .45rem 0 1rem ;
}
.white-space-nav-menu{
    margin: 0 1rem 0 .3rem;
}
.navbar-catograize a{
    display: flex;
    align-items: center;
}
.send-loaction{
    margin-left: 2rem;
    position: relative;
}

.send-loaction .send-to-location-title{
    display: none;
    position: absolute;
    width: 100%;
    padding: 1.1rem 0;
    text-align: center;
    top: 3.3rem;
    border-radius: .3rem;
    border: 1px solid rgb(35, 37, 78);
    left: -1rem;
    background-color: rgb(63, 64, 100);
    color: #fff;

}
.send-loaction:hover .send-to-location-title{
    display:block;

}
.fa-map-marker-alt{
    margin-left: .6rem;
}

.navbar-catograize a{
    position: relative;
}

.nav-hover{
    position: relative;
}

.nav-hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5rem; /* Adjust this value to control the distance between the text and the border */
    width: 100%;
    height: 2px;
    background-color: #ee384e; /* Change this color to your desired border color */
    transform: scaleX(0) translate(-50%,50%);
    transition: transform 0.1s ease-in-out;
}




.nav-hover:hover::after {
    transform: scaleX(1);
  }




.navbar-catograize a::after  {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5rem; /* Adjust this value to control the distance between the text and the border */
    width: 100%;
    height: 2px;
    background-color: #ee384e; /* Change this color to your desired border color */
    transform: scaleX(0) translate(-50%,50%);
    transition: transform 0.1s ease-in-out;
  }

  .navbar-catograize:hover a::after {
    transform: scaleX(1);
  }

/* End of navbar */


/* Storys */
.storys{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a5c7a;
}
.all-story-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}
.story-element{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.story-element p{
    font-family: "IRANyekan",sans-serif;
    margin-top: .4rem;
    font-size:1.4rem;
    color: #000;
}

.story-element img{
    width: 8.5rem;
    border-radius: 50%;
    padding: .5rem;
    border: .2rem solid red;
}
/* End of Storys */

/* Swiper */

.swiper {
    width: 100%;
    height: 43rem;
  }

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End of Swiper */

/* Offers */
.offers{
    width: 100%;
    background:#656ff3;
    padding: 1rem 2rem;
    font-family: "IRANyekan",sans-serif;
}
/* Buy methods */
.buy-methods{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 2.5rem 0;
}

.all-methods{
    display: flex;
    align-items: center;
    gap: 8rem;
}

.buy-methods img:not(.aghsat){
    width: 5.5rem;
    border-radius: 50%;
}
.aghsat{
    width: 5.5rem;
}

.buy-methods a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

/* End of buy methods */

/* Incredible offers */
    .swiper-container-2{
        max-width: 100%;
        height: 31rem;
        padding: 2rem;
        overflow: hidden;
        background:linear-gradient(to top,#ef4056,#ef394e);
        border-radius: 2rem;
    }

    .swiper-slide-2{
        max-width: 18.3rem;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin: 0 .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .price-and-discount{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .discount-price{
        width: 100%;
        text-decoration: line-through;
        color: #8b8889;
        margin-left: 2rem;
    }

    .percent{
        background-color: #ee384e;
        color: white;
        padding: .2rem .4rem;
        border-radius:45%;
        text-align: center;
        width: 28%;
    }

    .product{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.4rem;
    }

    .swiper-container-2 img{
        width:100%;
        object-fit: contain;
    }
    .swiper-wrapper .last-box1 {
    background-color: transparent;

    }


   .swiper-wrapper .last-box1 a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .last-box1 img:nth-child(1){
        width:55%;
    }
    .last-box1 img:nth-child(2){
        margin-top: -3.5rem;
        width:65%;
    }
    .last-box1 img{
        width: 75%;
    }

    .see-all{
        border-top-left-radius: 6%;
        border-bottom-left-radius: 6%;
    }

    .last-of-cards-offer{
        border-top-right-radius: 6%;
        border-bottom-right-radius: 6%;

    }

    .see-all a{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        color: #000;
    }

    .see-all a i{
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #19bfd3;
        border-radius: 50%;
        border: .1rem solid #19bfd3;
        padding: .9rem;
    }

    .last-box1 .see-more{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 1.68rem;
    }
    .last-box1 .see-more i{
        margin: 0 1.1rem;
    }


/* End of Incredible offers */

/* SuperMarket */

.supermarketi{
    width: 100%;
    height: 10.5rem;
    margin-top: 1.4rem;
    background:
    url(images/offers/supermarketi/freshPattern.svg) left center / 100% 300% no-repeat,
    linear-gradient(to right,rgb(216, 205, 206),#eef1f0);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.left-side p{
    font-size:1.4rem;
    background-color: #39ae00;
    color: #fff;
    padding: .7rem 1.3rem;
    border-radius: 14%;

}

.left-side img:nth-child(2){
    width: 230px;
    height: 100px;
    margin: 0 1.8rem;
}

.left-side img:nth-child(3){
    width: 55px;
}


.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.right-side img{
    width: 60px;
    border-radius: 40%;
    object-fit: contain;
    margin: 0 .5rem;
    position: relative;
}

.right-side .more-prodcuts a{
    display: flex;
    align-items: center;
    margin: 0 2rem;
    font-size: 1.3rem;
    background-color: #fff;
    padding: 1.3rem 1.4rem;
    border-radius: 1.6rem;
    color: #39ae00;
    font-weight: bold;
}
.right-side .more-prodcuts a p{
    margin: 0 1rem;
}

.img-supermarket{
    position: relative;
}
.img-1-off p{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    background-color: #46282c;
    color: #fff;
    padding: .2rem .4rem;
    border-radius: 20%;
}
/* End of SuperMarket */
/*! End of Offers */


/* Cards */
.cards{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards img{
    width:300px;
    object-fit: contain;
    border-radius: 2rem;
}
/* End of Cards */

/* Digi Category */
.digi-category{
    margin:2rem 0;
    font-family: "IRANyekan",sans-serif;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.digi-category h1{
    font-weight: 500;
}

.category-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0 2rem;
    line-height: 2.17;
}

.category-products img{
    width: 150px;
}

.category-products p{
    font-size: 1.3rem;
}

.category{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}

/* End of Digi Category */

/* Off-cards */

.off-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.off-cards img{
    width: 625px;
    object-fit: contain;
    border-radius: 2rem;
}

/* End of Off-cards */

/* Digi-Offers */
.digi-offers{
    margin:2rem 0;
    font-family: "IRANyekan",sans-serif;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.digi-offers h1{
    font-weight: 500;
    margin: 2rem;
}

.offer-board{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    flex-wrap: wrap;
    gap: 4rem;
    border: .1rem solid #e0e0e6;
    border-radius: 2rem;
}

.digi-offers img{
    width: 130px;
    border-radius: 30%;
    padding: 2rem;
    margin: 0 auto;
}

.box a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
}


.box:not(:first-child):not(:nth-child(8)):not(:nth-child(2)):not(:nth-child(9)){
    border-left: .1rem solid #e0e0e6;
    padding-left: 2rem;

}

.box:first-child{
    border-right: .1rem solid #e0e0e6;

}
.box:nth-child(8){
    border-right: .1rem solid #e0e0e6;

}


/* End of Digi-Offers */


/* popular brands */

.popular-brands{
    margin:2rem 0;
    font-family: "IRANyekan",sans-serif;
    padding: 1rem 2rem;
}

.top-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-side h1{
    font-weight: 600;
    margin: 1rem 0;
}
.swiper-container-3{
    max-width: 100%;
    height: 20rem;
    padding-bottom: 6rem;
    overflow: hidden;
    /* background:linear-gradient(to top,#1acc40,#4db932); */
    border-radius: 2rem;
    border: .1rem solid #e0e0e6;
}



.swiper-slide-3{
    max-width: 18.3rem;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: .1rem dotted #e0e0e6;
}

.swiper-slide-3 img{
    width: 100%;
    object-fit: contain;
}

.swiper-slide-3:first-child{
    border: none;
}


/* End of popular brands */

/* Off-cards-2 */
.off-cards-2{

}
/* End of Off-cards-2 */

/* digital-products */
.digital-products{
    margin:2rem;
    font-family: "IRANyekan",sans-serif;
    display: flex;
    border: .1rem solid #e0e0e6;
    border-radius: 2rem;
    justify-content: space-around;
    align-items: center;
    /* gap */
}



.product:not(.smart-watch):not(.motherboards):not(.off-sale-products){
    display: flex;
    flex-direction: column;
    border-left: .1rem solid #e0e0e6;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2.4rem;
    margin-right: 3rem;
    margin-top: 1rem;
    line-height: 2.3;
    font-size: 1.3rem;
}
.title p{
    color: #767790;
    font-size: 1.2rem;
}

.prod-imgs{
    margin-left: 4rem;
}

.prod-imgs img{
    width: 135px;
    object-fit: contain;
}

.go-for-more a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19bfd3;
    margin:1.5rem 0 ;
    gap: 1rem;
    font-size: 1.4rem;
}

/* End of digital-products */

/* Digi-Plus */
.digi-plus{
    height: 65vh;
    font-family: "IRANyekan",sans-serif;
    display: flex;
    border-radius: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: #941b80;
    margin: 0 2rem;
}

.digi-plus-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.7rem;
    color: #fff;
    width: 100%;
    height: 100%;
    background-image: url(images/digi-plus/digi-plus-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    margin-right: 4rem;
    margin-top: 8rem;
}
.logo-digi{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: .7rem 0;
}
.logo-digi img{
    width: 35%;
}

.ozviat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 2.2rem;
    border: .1rem solid #fff;
    border-radius: 1rem;
    color: #fff;
    margin: 1.5rem 0;
    font-size: 1.6rem;

}

.digi-plus-service-p{
    font-size: 1.5rem;
}

.ozviat i {
    margin: 0 1.2rem;
    font-size: 1.8rem;
}




.digi-fast-delivery{
    height:90%;
    width: 250%;
    font-size: 1.3rem;
    margin: 0 1.4rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    font-weight: 600;
}
.top-title .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.58rem;
}
.top-title i{
    margin: 0 1rem;
    color: #941b80;


}

.top-title .left a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #941b80;

}

.top-title{
    width: 100%;
    display: flex;
    margin-bottom: 1.2rem;
}
.left,.right{
    width: 100%;
    margin: 1.5rem 1rem;

}

.left p {
    font-size: 1.4rem;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left a p {
    font-size: 1.3rem;
    font-weight: 500;

}
.fast-delivery-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.fast-delivery-products img{
    width: 115px;
    object-fit: contain;
}

/* End of Digi-Plus */

/* Digi Club  */
.digi-club{
    height: 14vh;
    font-family: "IRANyekan",sans-serif;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    margin:1rem 2rem;
    background: linear-gradient(76.02deg,#35a6c8 33.32%,#007295 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);
}
.digi-club .right img{
    width: 20%;
    object-fit: contain;
}

.club-cards{
    width: 26rem;
    border-radius:.5rem;
    background-color: #fff;
    margin: 0 .5rem;
    padding: 0 2rem;
}
.club-cards a img{
    margin-left: -1.9rem;
}


.club-cards a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: black;
}

.club-cards a i{
    color: #007295;
    margin: 0 1rem 0 -.5rem;
}

.jaize{
    margin: 0 -1.5rem 0 0;
}

.club-cards img{
    width: 55%;
    object-fit: contain;
}

.digi-club .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.digi-club .right img{
    width: 80%;
}
/* End of Digi Club  */


/* Digital products-2 */

.swiper-container-4{
    max-width: 100%;
    height: 60vh;
    padding-bottom: 6rem;
    overflow: hidden;
    border-radius: 2rem;
    border: .1rem solid #e0e0e6;
}

.top-side-best-seller{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide-4{
    max-width: 18.3rem;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-best-seller{
    display: flex;
    align-items: center;
    gap:1.4rem;
    position: relative;
}
.title-best-seller i {
    color: #f9a825;
    font-size: 2.5rem;

}

.swiper-slide-4 img{
    width: 100%;
    object-fit: contain;
}

.topside-watch-all a{
    color: #19bfd3;
    position: absolute;
    left: 5rem;
    font-size: 1.4rem;
}


.swiper-slide-4{
    min-width: 25%;
}

.cols{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -2rem;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin: .1rem .1rem;
}


.number{
    font-size: 2.7rem;
    color: #19bfd3;
    font-weight: bold;
}

.rows .description:not(.last-desc){
    border-bottom: .02rem solid #c2b8b8;
    overflow: hidden;
}
.rows .description{
    font-size: 1.2rem;
    padding: 2.5rem 2rem 3.2rem 0;


}
.rows img{
    width: 100px;
    object-fit: cover;
}


/* End of Digital products-2 */


/* Off-cards-3 */
.off-card-3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.off-card-3 img{
    width: 1280px;
    object-fit: contain;
    border-radius:2rem;
}
/* End of Off-cards-3 */

/* Best of offs and Sale */
.best-offs-n-sale{
    margin:2rem 1rem;
    font-family: "IRANyekan",sans-serif;
    padding: 1rem 2rem;
    border: .1rem solid #e0e0e6;
    border-radius: 2rem;

}

.top-side-best-offs-n-sale{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    gap: .88rem;
    margin-bottom: .8rem;
}


.best-off-n-sales-products img{
    width: 160px;
    object-fit: contain;
}


.card-off-sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-off-n-sales-products{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 3rem;
    grid-template-rows: auto;
    margin: 1rem 1.5rem;
}

.card-off-sale{
    padding-right: 2rem;
}
.price-and-discount-off-sales{
    margin: 1.2rem 0 .5rem 0;
}
/* End of Best of offs and Sale */

/* Blog section */
.blog-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IRANyekan",sans-serif;
    margin:2.8rem 1rem 2rem 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

.title-blog-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.more-contents-of-blog a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: #007295;
    font-size: 1.25rem;
    margin-left: 2.7rem;
}
.title-of-blog p{
    font-size: 1.6rem;
    font-weight: 600;
}

.blog-contents{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 1.8rem 0;
    gap: 1rem;
}
.blog-card a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid #e0e0e6;
    border-radius: 1.5rem;
    overflow: hidden;
}

.blog-card img{
    width: 312px;
    object-fit: contain;
}


.blog-content-desc{
    text-align: right;
    margin: 1.5rem 2.2rem;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    color: #000;
    font-weight: 300;
}

/* End of  Blog section */

/* footer-section */
.footer-section{
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    border-top: .22rem solid #e0e0e6;
    font-family: "IRANyekan",sans-serif;
    padding: 1rem 2rem;

}

.footer-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-heading img{
    width: 120px;
}

.footer-heading a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #9e9fb1;
    border: .1rem solid #9e9fb1;
    padding: .7rem 1.5rem;
    border-radius: .7rem;
}
.footer-heading a span{
    font-size: 1.7rem;
    font-weight: bold;
}

/* Support footer */
.support{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3rem;
    margin-top: 1.3rem;
    gap: 2rem;
}
/* End of Support footer */

/* footer Services  */
.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-footer{
    margin: 6rem 0;
}

.box-footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.2rem;
    color: #202020;
}

/* End of footer Services  */

/* Digi footer Subject */
.digi-footer-subject{
display: flex;
align-items: flex-start;
justify-content: space-between;

}
.digi-help{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 14rem;

}
.headings{
    color: #202020;
    font-size: 1.6rem;
    font-weight: bold;
}

.guide-digi,.customer-digi,.with-digi{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.7rem 0;

}


.digi-links a{
    color: #9e9fb1;
    text-align: right;
    font-size: 1.5rem;
    margin: 2rem;
}



.social-media{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.social-media p{
    color: #3f4064;
    font-size: 1.6rem;
    font-weight: bold;

}
.all-socials img{
    width:31px;
}

.all-socials{
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    margin:1.5rem 0 1rem 0;
}


.contact-us{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    color: #3f4064;
    width: 35%;
    height: 100%;
    margin: 2rem 0;
}

.knowing-news{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.6rem;
    font-weight: bold;

}
.form-let-us-know{
    display: flex;
    margin-top: 1.7rem;
}

.form-let-us-know input[type=text]{
    background-color: #f1f2f4;
    width: 26rem;
    height: 4.9rem;
    line-height: 2.5;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    font-family: "IRANyekan",sans-serif;
    padding: 0 1.2rem;
    border-radius: .8rem;
}
.form-let-us-know button{
    width: 6rem;
    height: 4.9rem;
    font-family: "IRANyekan",sans-serif;
    background-color: #e0e0e6;
    border: .1rem solid #e0e0e6;
    color: #fff;
    font-size: 1.5rem;
    border-radius: .7rem;
    margin-right: 1.6rem;
    font-weight: bold;

    border: none;
}


/* End of Digi footer Subject */

/* Footer Banner */
.footer-banner{
    height: 14vh;
    font-family: "IRANyekan",sans-serif;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    margin:1rem 0rem;
    background-color: #3c4b6d;
    padding: 1rem 0;
    position: relative;
}
.footer-banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height:.22rem;
    background-color: #e0e0e6;
    bottom: -3.2rem;

}



.footer-banner .banner-container .left-banner img{
    width: 150px;
    object-fit: contain;
}
.banner-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}

.left-banner{
    display: flex;
    margin: 0 2rem;
}

.more-apps-footer{
    max-width: 48px;
    max-height: 48px;
    background-color: #fff;
    border: .1rem solid #fff;
    border-radius: .4rem;
    margin-right: 2.2rem;
}

.right-banner{
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.right-banner p{
    line-height: 2.7;
    font-size: 2.5rem;
    color: #f1f2f4;
    margin-right:1.6rem;
}
.market-apps a{
    margin: 0 .8rem;
}


/* End of Footer Banner */


/* End of footer-section */

